* {
    font-family: Gloria Hallelujah;
    font-size: 16px;
    margin: auto;
}
:root {
    --tale: #9cd0c3;
    --yellow: #f7e29e;
    --pink: #e7a29c;
    --green: #b5efa2;
    --blue: #a8d3f5;
    --white: #fff;
    --darkgreen: #57827b;
    --violet: #dcc3dc;
    --darkyellow: #e7bf2b;
}
#btn {
    background-color: var(--yellow);
}
#btn-menu {
        background-color: var(--yellow);
        border: 1px solid transparent;
        display: grid;
        align-items: end;
        justify-content: right;

}
#burguer {
    background-color: var(--yellow);
    display: flex;
}

#itens {
    display:none;
    background-color:var(--yellow);

} 
nav.active {
    display: block;
}

#menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li{
    padding-bottom: 0.5rem; /* 8px */
    list-style-type: none;
    padding-left: 0.5rem;
    margin: 0;
}
a{
    text-decoration: none;
    color: grey;
}

a:hover{
    color:var(--darkyellow);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    background-color: var(--pink);
    
}
.title{
    background-color: var(--violet);
    padding-left: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p {
    margin: 0;
    padding: 0.25rem; /* 4px */
    font-size: 1rem; /* 16px */
}
#photo{
    display: flex;
    align-items: right;
    justify-content: end;
    float: right;
    padding: 1rem;
}
#alice{
    width:15rem;
}

#Heartstopper{
    padding-top: 1.5rem; /* 24px */
}
@media(min-width: 900px){

    #burguer {
        display: none;
    }
    #itens {
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color:var(--yellow);
        font-size: 1vw;
    }
    #menu {
        display: flex;
        flex-direction: row;
        gap:10rem; /* 160px */
    }
    #alice{
        width:15rem; /* 240px */
    }
}